.edit-artist {
    align-items: center;
    display: flex;
    position: relative;
    top: 50px;
    flex-direction: column;
    font-family: "Comic Sans MS", cursive, sans-serif;
    height: max-content;
    width: 100vw;
}

.edit-artist-content {
    align-items: center;
    background: white;
    border-top: #00EED0;
    font-size: 16px;
    border-top-style: solid;
    border-top-width: 10px;
    border-radius: 5px;
    margin-bottom: 50px;
    color: dimgray;
    box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    font-family: "Comic Sans MS", cursive, sans-serif;
    height: min-content;
    width: 1200px;
}

.edit-artist-title {
    font-size: 35px;
    margin: 25px;
}

.edit-artist-table {
    width: 80%;
    height: min-content;
}

.edit-artist-table-albums-container {
    font-size: 23px;
    width: 80%;
}

.edit-artist-table-albums {
    background: whitesmoke;
    font-size: 15px;
}

.table {
    text-align: center;   
    margin-bottom: 50px;
}

.edit-artist-input {
    border-radius: 10px;
    font-size: 13px;
    color: dimgray;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: inline-block;
    height: 35px;
    padding: 8px 16px;
    width: 270px;
}

.edit-artist-select {
    border-radius: 10px;
    font-size: 13px;
    color: dimgray;
    border: 1px solid #ccc;
    cursor: pointer;
    height: 35px;
    padding: 8px 16px;
    user-select: none;
    width: 270px;
}

button {
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    height: 40px;
}

.edit-artist-button-save {
    background-color:#FFD400;
    margin-right: 5px;
}

.edit-artist-button-delete {
    background-color:red;
    margin-left: 5px;
}

.edit-artist-buttons {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}

.edit-artist-add-button {
    background: #FFB900;

    border-radius: 15px;
    border: 1px solid #ccc;
    color: black;
    align-items: center;
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    cursor: pointer;
    height: 35px;
    width: 35px;
}

.edit-artist-add-button:hover {
    background: whitesmoke;
}

.edit-artist-add-button:active {
    transform: scale(0.9);
}

