.sidebar {
    align-items: center;
    background: white;
    border-right: #00EED0;
    border-right-style: solid;
    border-right-width: 2px;
    color: dimgray;
    display: flex;
    position: fixed;
    left: 0px;
    top: 0px;
    flex-direction: column;
    font-family: "Comic Sans MS", cursive, sans-serif;
    height: 100vh;
    white-space: nowrap;
    overflow: hidden;
    width: 15vw;
    z-index: 2;
}

.sidebar-title {
    align-items: center;
    min-height: 100px;
    border: #00EED0;
    border-bottom: #FFD400;
    border-style: solid;
    border-width: 2px;
    display: flex;
    font-size: 26px;
    flex-direction: row;
    height: 15vh;
    width: 15vw;
}

.sidebar-title:hover {
    background: azure;
    cursor:pointer;
}

.sidebar-title:active {
    border-top-width: 4px;
    background: #FFD400;
}

.sidebar-image {
    margin: 10px;
    width: 30px;
}

.sidebar-title-image {
    margin-left: 10px;
    margin-right: 20px;
    width: 60px;
}

.sidebar-options {
    align-items: center;
    border: #00EED0;
    border-style: solid;
    border-width: 2px;
    border-top-width: 0px;
    display: flex;
    font-size: 28px;
    flex-direction: column;
    height: 85vh;
    width: 15vw;
}

.sidebar-option {
    align-items: center;
    border: #00EED0;
    border-style: solid;
    border-width: 2px;
    border-top-width: 0px;
    display: flex;
    font-size: 28px;
    flex-direction: row;
    height: 50px;
    width: 15vw;
}

.sidebar-option:hover {
    background: azure;
    cursor:pointer;
}

.sidebar-option:active {
    border-top: #00EED0;
    border-style: solid;
    border-top-width: 2px;
    background-color: #FFD400;
}

.header {
    align-items: center;
    background: white;
    border-bottom: dimgray;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: dimgray;
    display: flex;
    flex-direction: row;
    font-family: "Comic Sans MS", cursive, sans-serif;
    height: 9vh;
    justify-content: center;
    left: 15vw;
    min-height: 65px;
    position: fixed;
    top: 0px;
    width: 85vw;
    z-index: 1;
}

.header-search-input {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: inline-block;
    padding: 8px 16px;
    height: 35px;
    width: 43vw;
}

.header-search-button {
    background: white;
    border-bottom-right-radius: 10px;
    border: 1px solid #ccc;
    border-top-right-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    height: 35px;
    width: 35px;
}

.header-search-button:hover {
    background: whitesmoke;
}

.header-search-button:active {
    transform: scale(0.9);
}

.header-search-image {
    width: 16px;
}

.header-user {
    align-items: center;
    background: #FFD400;
    border: black;
    border-left-style: solid;
    border-left-width: 2px;
    color: black;
    display: flex;
    height: 9vh;
    justify-content: center;
    min-height: 65px;
    position: fixed;
    width: 13vw;
    right: 0px;
    top: 0px;
}

.header-user-info {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 8px;
    font-size: 15px;
}

.user-image {
    height: 20px;
    width: 20px;   
}
