.tracks {
    color: dimgray;
    display: flex;
    position: relative;
    left: 16vw;
    top: 90px;
    flex-direction: column;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    height: max-content;
    width: 80vw;
    z-index: 0;
}

.tracks-title {
    display: flex;
    flex-direction: column;
}

.tracks-buttons {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}

.tracks-add-button {
    background: #FFB900;

    border-radius: 15px;
    border: 1px solid #ccc;
    color: black;
    align-items: center;
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    cursor: pointer;
    height: 35px;
    width: 35px;
}

.tracks-add-button:hover {
    background: whitesmoke;
}

.td-button{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tracks-play-button {
    background: blue;

    
    border: 1px solid #ccc;
    color: black;
    align-items: center;
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    cursor: pointer;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.tracks-play-button:hover {
    background: whitesmoke;
}

.tracks-play-button:active {
    transform: scale(0.9);
}

.tracks-add-cart-button {
    border: 1px solid #ccc;
    color: black;
    align-items: center;
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    cursor: pointer;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.tracks-add-cart-button:hover {
    background: whitesmoke;
}

.tracks-add-cart-button:active {
    transform: scale(0.9);
}


.tracks-content {
    background: whitesmoke;
    font-size: 15px;
}