.edit-track {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: "Comic Sans MS", cursive, sans-serif;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

.edit-track-content {
    align-items: center;
    background: white;
    border-top: #00EED0;
    font-size: 16px;
    border-top-style: solid;
    border-top-width: 10px;
    border-radius: 5px;
    color: dimgray;
    box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    font-family: "Comic Sans MS", cursive, sans-serif;
    height: 80vh;
    width: 80vw;
}

.edit-track-title {
    font-size: 35px;
    margin: 25px;
}

.edit-track-table {
    width: 80%;
}

.table {
    text-align: center;   
}

.edit-track-input {
    border-radius: 10px;
    font-size: 13px;
    color: dimgray;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: inline-block;
    height: 35px;
    padding: 8px 16px;
    width: 270px;
}

.edit-track-select {
    border-radius: 10px;
    font-size: 13px;
    color: dimgray;
    border: 1px solid #ccc;
    cursor: pointer;
    height: 35px;
    padding: 8px 16px;
    user-select: none;
    width: 270px;
}

button {
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    height: 40px;
}

.edit-track-button-save {
    background-color:#FFD400;
    margin-right: 5px;
}

.edit-track-button-delete {
    background-color:red;
    margin-left: 5px;
}
