.sidebar {
    align-items: center;
    background: white;
    border-right: #00EED0;
    border-right-style: solid;
    border-right-width: 2px;
    color: dimgray;
    display: flex;
    position: fixed;
    left: 0px;
    top: 0px;
    flex-direction: column;
    font-family: "Comic Sans MS", cursive, sans-serif;
    height: 100vh;
    white-space: nowrap;
    overflow: hidden;
    width: 15vw;
    z-index: 2;
}

.sidebar-title {
    align-items: center;
    min-height: 100px;
    border: #00EED0;
    border-bottom: #FFD400;
    border-style: solid;
    border-width: 2px;
    display: flex;
    font-size: 26px;
    flex-direction: row;
    height: 15vh;
    width: 15vw;
}

.sidebar-image {
    margin: 10px;
    width: 30px;
}

.sidebar-title-image {
    margin-left: 10px;
    margin-right: 20px;
    width: 60px;
}

.sidebar-options {
    align-items: center;
    border: #00EED0;
    border-style: solid;
    border-width: 2px;
    border-top-width: 0px;
    display: flex;
    font-size: 28px;
    flex-direction: column;
    height: 85vh;
    width: 15vw;
}

.sidebar-option {
    align-items: center;
    border: #00EED0;
    border-style: solid;
    border-width: 2px;
    border-top-width: 0px;
    display: flex;
    font-size: 28px;
    flex-direction: row;
    height: 50px;
    width: 15vw;
}

.sidebar-option:hover {
    background: azure;
    cursor:pointer;
}

.sidebar-option:active {
    border-top: #00EED0;
    border-style: solid;
    border-top-width: 2px;
    background-color: #FFD400;
}