.header {
    align-items: center;
    background: white;
    border-bottom: dimgray;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: dimgray;
    display: flex;
    flex-direction: column;
    font-family: "Comic Sans MS", cursive, sans-serif;
    height: 9vh;
    justify-content: center;
    left: 0px;
    min-height: 65px;
    position: fixed;
    top: 0px;
    width: 100vw;
    z-index: 1;
}

.header-container {
    height: 35px;
}

.header-initial-filter {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-more-filters {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-search-filter {
    background: white;
    border-bottom-left-radius: 10px;
    border: 1px solid #ccc;
    border-top-left-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    height: 35px;
    width: 35px;
}

.header-search-filter:hover {
    background: whitesmoke;
}

.header-search-filter:active {
    transform: scale(0.9);
}

.header-search-input {
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: inline-block;
    padding: 8px 16px;
    height: 35px;
    width: 37vw;
}

.header-search-button {
    background: white;
    border-bottom-right-radius: 10px;
    border: 1px solid #ccc;
    border-top-right-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    height: 35px;
    width: 35px;
}

.header-search-button:hover {
    background: whitesmoke;
}

.header-search-button:active {
    transform: scale(0.9);
}

.header-search-image {
    width: 16px;
}

.header-user {
    align-items: center;
    background: #434343;
    border: black;
    border-left-style: solid;
    border-left-width: 2px;
    color: black;
    display: flex;
    height: 9vh;
    justify-content: center;
    min-height: 65px;
    position: fixed;
    width: 13vw;
    right: 0px;
    top: 0px;
}

.header-user-info {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 8px;
    font-size: 15px;
    color:white;
}

.user-image {
    height: 30px;
    width: 30px;
    padding: 5px;
    background: white;
    border-radius: 50%;
}

.header-cart-button {
    background: white;
    color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 5%;
}

.header-cart-button:hover {
    background: whitesmoke;
}

.header-cart-button:active {
    transform: scale(0.9);
}

.modal-cart {
    display: none; 
    position: fixed; 
    z-index: 10; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-cart-content {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 80%; 
}

.close-modal-cart {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal-cart:hover,
.close-modal-cart:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.cart-delete-cart-button {
    background-color: red;
    border: 1px solid #ccc;
    color: black;
    align-items: center;
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    cursor: pointer;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
.cart-delete-cart-button:hover {
    background: whitesmoke;
}

.cart-delete-cart-button:active {
    transform: scale(0.9);
}

.cart-invoice-button {
    background-color: #FFB900;
    color: black;
    text-align: center;
    font-weight: bold;
    border-radius: 5%;
    align-items: center;
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    cursor: pointer;
    height: 40px;
    width: 150px;
}
.cart-invoice-button:active {
    transform: scale(0.9);
}

.cart-content {
    background: white;
    font-size: 15px;
}